<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.sc.wrapper"
      version="0.1.0">
    <name>MyPlugin</name>
    <description>Sample PhoneGap MyPlugin</description>
    <license>MIT</license>
    <keywords>phonegap,myplugin</keywords>


    <js-module src="www/myplugin.js" name="MyPlugin">
        <clobbers target="window.myplugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPlugin">
                <param name="android-package" value="com.sc.wrapper.MyPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/MyPlugin.java" target-dir="src/com/sc/wrapper" />      
     </platform>          
</plugin>